.App {
    text-align: center;
    background-color: rgb(212 212 216);
    background-image: 'https://i.pinimg.com/474x/a6/7d/3e/a67d3e34584a4b0cc4b4c22674cbd4f7.jpg';
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }