body{
    background-image: url('https://e0.pxfuel.com/wallpapers/449/658/desktop-wallpaper-humor-minimalism-and-mobile-background-minimalist-military.jpg') ;
    background-size: cover;
    background-position: center;
   }